LV03/z1_shema.xml

<!--ZADATAK 1 -->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="CV">
    <xs:complexType>
      <xs:all>
        <xs:element name="Ime" type="xs:string"/>
        <xs:element name="Prezime" type="xs:string"/>
        <xs:element name="BrojMobitela" type="xs:string"/>
        <xs:element name="DatumRodenja" type="xs:date"/>

        <xs:element maxOccurs="1" ref="PopisObrazovanja" />
        <xs:element maxOccurs="1" ref="RadnaIskustva" />
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="PopisObrazovanja">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Obrazovanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Obrazovanje">
    <xs:complexType>
      <xs:all>
        <xs:element name="Institucija" type="xs:string"/>
        <xs:element name="GodinaPocetka" type="xs:int"/>
        <xs:element name="GodinaZavrsetka" type="xs:int" default="0" />
      </xs:all>
      <xs:attribute name="razina" type="xs:string"/> 
    </xs:complexType>
  </xs:element>

  <!-- POTREBNO DODATI RadnaIskustva -->
  <xs:element name="RadnaIskustva">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="RadnoIskustvo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="RadnoIskustvo">
    <xs:complexType>
      <xs:all>
        <xs:element name="DatumPocetka" type="xs:date"/>
        <xs:element name="DatumZavrsetka" type="xs:date"/>
        <xs:element name="NazivTvrtke" type="xs:string"  />
        <xs:element name="VrstaTvrtke" type="xs:string"/>
      </xs:all>
      <xs:attribute name="oib" type="xs:string"/> 
    </xs:complexType>
  </xs:element>
</xs:schema>