LV03/z2_shema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="Oglas">
        <xs:complexType>
            <xs:all>
                <xs:element name="Stan" type="xs:string"/>
                <xs:element name="Lokacija" type="xs:string"/>
                <xs:element name="Cijena" type="xs:string"/>

                <xs:element maxOccurs="1" ref="OpisOglasa" />
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="OpisOglasa">
        <xs:complexType>
            <xs:all>
                <xs:element name="Povrsina" type="xs:string"/>
                <xs:element name="BrojEtaza" type="xs:string"/>
                <xs:element name="BrojSoba" type="xs:integer"/>
                <xs:element name="GodinaIgradnje" type="xs:integer"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

</xs:schema>