LV05/zadatak3_shema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="JMBAG" type="xs:string"/>
        <xs:element name="Ime" type="xs:string"/>
        <xs:element name="Prezime" type="xs:string"/>
        <xs:element name="DatumRodjenja" type="xs:date"/>
        <xs:element name="Spol" type="Spol"/>
        <xs:element name="Studij" type="Studij"/>
        <xs:element name="Upisi" type="Upisi"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="Spol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M"/>
      <xs:enumeration value="Ž"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Studij">
    <xs:sequence>
      <xs:element name="Naziv" type="xs:string"/>
      <xs:element name="Razina" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Upisi">
    <xs:sequence>
      <xs:element name="Upis" type="Upis" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Upis">
    <xs:sequence>
      <xs:element name="AkademskaGodina" type="xs:string"/>
      <xs:element name="Semestar" type="xs:integer"/>
      <xs:element name="Predmeti" type="Predmeti"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Predmeti">
    <xs:sequence>
      <xs:element name="Predmet" type="Predmet" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Predmet">
    <xs:sequence>
      <xs:element name="Sifra" type="xs:string"/>
      <xs:element name="Naziv" type="xs:string"/>
      <xs:element name="ECTS" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>