LV05/zadatak4_shema.xml

<!--ZADATAK 4-->
<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="property">
        <xs:complexType>
            <xs:all>
                <xs:element name="type" type="xs:string"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="address" type="address"/>
                <xs:element name="price">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:decimal">
                                <xs:attribute name="currency" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="year_built" type="xs:integer"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="address">
        <xs:all>
        <xs:element name="street" type="xs:string"/>
        <xs:element name="city" type="xs:string"/>
        <xs:element name="zip" type="xs:integer"/>
        </xs:all>
    </xs:complexType>

</xs:schema>